<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<style type="text/css">
	@import url('{{ url_for('static', filename='style.css') }}');
</style>
<title>NiceGameTV mobile page</title>
<body>
	<form method="post" action="{{ url_for('new') }}">
		<div>Title:</div>
		<div><input type="text" name="name" style="width: 95%;" /></div>
		<div>Body:</div>
		<div><textarea name="body" style="width: 95%; height: 200px;"></textarea></div>
		<div><input type="submit" value="Save" /></div>
	</form>
</body>
